<%- include('partials/header.ejs') %>

<div class="container blog">
    <div class="row justify-content-start pt-1 pb-1">
        <div class="col blog-title fs-1">
            <%= blog.title %>
        </div>
    </div>
    <div class="row justify-content-center fs-3 pb-4">
        <div class="col-11 blog-author">-By <%= blog.author %></div>
    </div>
    <div class="row justify-content-start fs-5 pb-3">
        <div class="col blog-date">Written on - <%= blog.date %></div>
        <div class="col blog-last-updated">Last updated - <%= blog.lastUpdated %></div>
    </div>
    <hr>
    <div class="row justify-content-start fs-5 pt-2 pb-3">
        <div class="col blog-content"><%- blog.content %></div>
    </div>

    <div class="d-flex justify-content-center pb-2">
            <a href="/blogs" style="text-decoration: none; color: black">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                </svg>
            </a>
    </div>
</div>


<script>
    $("#header-blogs").addClass("active")
    $("#header-home").removeClass("active")
    $("#header-create").removeClass("active")

</script>

<%- include('partials/footer.ejs') %>